	  
 
	  <section id="home-section" class="hero">
	  	<h3 class="vr">Welcome to Afyasol</h3>
		  <div class="home-slider js-fullheight owl-carousel">
	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last img js-fullheight" style="background-image:url(images/Home3.jpg);">
	          		<div class="overlay"></div>
	          	</div>
		          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading">Welcome to the Afyasol</span>
			            <h1 class="mb-4 mt-3"><span>Wholesale medicine prices at your finger tip</span></h1>
			            <p>With our large list of wholesalers, You have options to choose the best prices in the market.</p>
                  <div class="flex social-btns">
                    <a class="app-btn blu flex vert" href="http:apple.com">
                     <span class="icon-apple"></span>
                      <hp>Available on the <br/> <h6 class="big-txt">App Store</h6></p>
                    </a>
                    <a class="app-btn blu flex vert" href="http:google.com">
                      <span class="icon-play"></span>
                      <hp>Get it on <br/> <h6 class="big-txt">Google Play</h6></p>
                      </a>
                      </div>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>

	      <!-- <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last img js-fullheight" style="background-image:url(images/bg_2.jpg);">
	          		<div class="overlay"></div>
	          	</div>
		          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading">Welcome to the Afyasol</span>
			            <h1 class="mb-4 mt-3"><span>Get <span>market insights </span>That drives your bussiness to succeed</h1>
			            <p>Know market trends,demands,availability and clients behavioural you need to maximize sales in a simple way</p>
                  <div class="flex social-btns">
                    <a class="app-btn blu flex vert" href="http:apple.com">
                     <span class="icon-apple"></span>
                      <hp>Available on the <br/> <h6 class="big-txt">App Store</h6></p>
                    </a>
                    <a class="app-btn blu flex vert" href="http:google.com">
                      <span class="icon-play"></span>
                      <hp>Get it on <br/> <h6 class="big-txt">Google Play</h6></p>
                      </a>
                      </div>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div> -->
	    </div>
    </section>
		

    <section class="ftco-section ftco-no-pb ftco-no-pt ftco-services bg-light" id="services-section">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4 ftco-animate py-5 nav-link-wrap">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link px-4 active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true"><span class="mr-3 flaticon-ideas"></span>Reasonable Prices</a>

              <a class="nav-link px-4" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false"><span class="mr-3 flaticon-flasks"></span>Fast Delivery</a>

              <a class="nav-link px-4" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false"><span class="mr-3 flaticon-analysis"></span>Stock Management</a>

              <a class="nav-link px-4" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false"><span class="mr-3 flaticon-web-design"></span>Market Report</a>

              <a class="nav-link px-4" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false"><span class="mr-3 flaticon-ux-design"></span>Rational Use of Medicines</a>
            </div>
          </div>
          <div class="col-md-8 ftco-animate p-4 p-md-5 d-flex align-items-center">
            
            <div class="tab-content pl-md-5" id="v-pills-tabContent">

              <div class="tab-pane fade show active py-5" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                <span class="icon mb-3 d-block flaticon-ideas"></span>
                <h2 class="mb-4">Reasonable Prices</h2>
                <p>Each wholesaler will be able to publish their products and prices, when their
					clients want to know the prices, they look to their shop accounts in our system.</p>
              </div>

              <div class="tab-pane fade py-5" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                <span class="icon mb-3 d-block flaticon-flasks"></span>
                <h2 class="mb-4">Fast Delivery</h2>
                <p>Our system will send your orders and payment direct to a specific wholesaler shop fast and in easy way, no need to call or wait someone to pick up the phone or long distance travel.</p>
              </div>

              <div class="tab-pane fade py-5" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                <span class="icon mb-3 d-block flaticon-analysis"></span>
                <h2 class="mb-4">Stock management</h2>
                <p>The system will help to track medicines flow from your shop and purchases record at any time.</p>
              </div>

              <div class="tab-pane fade py-5" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                <span class="icon mb-3 d-block flaticon-web-design"></span>
                <h2 class="mb-4">Market Report</h2>
                <p>The system will give you a report on demands, supply and availability of medicines and medical products in a market.</p>
                
              </div>

              <div class="tab-pane fade py-5" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
                <span class="icon mb-3 d-block flaticon-ux-design"></span>
                <h2 class="mb-4">Rational Use of Medicines</h2>
                <p>The system will provide correct information on how to use medicine accordingly to standard treatment guideline.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section-2 img" style="background-image: url(images/bg_3.jpg);" id="projects-section">
    	<div class="container">
    		<div class="row d-md-flex justify-content-end">
    			<div class="col-md-6">
    				<div class="row">
    					<div class="col-md-12">
    						<a href="#" class="services-wrap ftco-animate">
    							<div class="icon d-flex justify-content-center align-items-center">
    								<span class="ion-ios-arrow-back"></span>
    								<span class="ion-ios-arrow-forward"></span>
    							</div>
    							<h2>Transparency of supply</h2>
    							<p>All medicines and medical products available in wholesalers stock are publishing by themselves in the app. No need to guess whether they do or do not have something, so buyers can be sure to get what they need when they want it.</p>
    						</a>
    						<a href="#" class="services-wrap ftco-animate">
    							<div class="icon d-flex justify-content-center align-items-center">
    								<span class="ion-ios-arrow-back"></span>
    								<span class="ion-ios-arrow-forward"></span>
    							</div>
    							<h2>Ordering</h2>
    							<p>Customers can make self serving ordering, sending order and monitor status of their order through their smartphone.7</p>
    						</a>
    						<a href="#" class="services-wrap ftco-animate">
    							<div class="icon d-flex justify-content-center align-items-center">
    								<span class="ion-ios-arrow-back"></span>
    								<span class="ion-ios-arrow-forward"></span>
    							</div>
    							<h2>E-payment</h2>
    							<p>Customers can make payment for their orders directly from their mobile money or banks to sellers accounts by support of our integrated payment processor and receiving notification.</p>
    						</a>
    						<a href="#" class="services-wrap ftco-animate">
    							<div class="icon d-flex justify-content-center align-items-center">
    								<span class="ion-ios-arrow-back"></span>
    								<span class="ion-ios-arrow-forward"></span>
    							</div>
    							<h2>Tracking records</h2>
    							<p>Both buyers and sellers can trace previous information of their purchases and sales respectively.</p>
    						</a>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

		<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/about-1.jpg);">
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-5">
    				<div class="py-md-5">
	    				<div class="row justify-content-start pb-3">
			          <div class="col-md-12 heading-section ftco-animate">
			          	<span class="subheading">About Us</span>
			            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">We are medicine marketplace</h2>
			            <p>We are innovative strategic solution provider for wholesalers of medical and pharmaceutical products, community pharmacies, private dispensaries and hospitals looking for an alternative to the existing process of procuring medical and pharmaceutical products.</p>
			            <p>Our core value proposition are pricing, ordering, receiving, digital payment and stock management at different levels of the pharmaceutical supply chain from wholesale level to their consumers.</p>
			            
						<span class="subheading">Vission</span>
			            <p>To centralize all activities in health sector to ensure people gets what they need concerning health issues in a good quality at right time and place through our digital platform.</p>
						<span class="subheading">Mission</span>
			            <p>To provide adequate information on rational use of medicines, convenience and efficiency in the processes of buying and selling of medical and pharmaceutical products in order to increase productivity and customer care experience.</p>
			          </div>
			        </div>
		          <div class="counter-wrap ftco-animate d-flex mt-md-3">
	              <div class="text p-4 bg-primary">
	              	<p class="mb-0">
		               
		                <span></span>
	                </p>
	              </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Contact</span>
            <h2 class="mb-4">Contact Us</h2>
            <p>You have any query? Please be free to check us on </p>
          </div>
        </div>
        <div class="row d-flex contact-info mb-5">
          <div class="col-md-6 col-lg-4 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-map-signs"></span>
          		</div>
          		<h3 class="mb-4">Address</h3>
	            <p>(Sayansi)COSTECH Building,<br />Dar es salam,Tanzania.</p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-phone2"></span>
          		</div>
          		<h3 class="mb-4">Contact Number</h3>
	            <p><a href="tel://+255621065794">	+255 621 065 794
              </a></p>
			  <p><a href="tel://+255672137313">+255 672 137 313</a></p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-paper-plane"></span>
          		</div>
          		<h3 class="mb-4">Email Address</h3>
	            <p><a href="mailto:help@afyasol.com">help@afyasol.com</a></p>
	          </div>
          </div>
    
        </div>
      </div>
    </section>
		
    