<section class="ftco-section ftco-no-pb ftco-no-pt ftco-services bg-light" id="services-section" style="margin-top:150px">
    <div class="container">
      <div class="row no-gutters">

        <div class="row">
           <div class="col-md-12">
              <p><b>PRIVACY NOTICE:</b></p>
<p>Last updated January 01, 2023</p>
<p>This privacy notice for&nbsp;AFYASOL COMPANY LIMITED&nbsp;('<strong>Company</strong>', '<strong>we</strong>', '<strong>us</strong>', or '<strong>our</strong>',), describes how and why we might collect, store, use, and/or share ('<strong>process</strong>') your information when you use our services ('<strong>Services</strong>'), such as when you:</p>
<ul>
<li>Download and use&nbsp;our mobile application&nbsp;(Afyasol),&nbsp;or any other application of ours that links to this privacy notice</li>
</ul>
<ul>
<li>Engage with us in other related ways, including any sales, marketing, or events</li>
</ul>
<p><strong>Questions or concerns?&nbsp;</strong>Reading this privacy notice will help you understand your privacy rights and choices. If you do not agree with our policies and practices, please do not use our Services. If you still have any questions or concerns, please contact us at&nbsp; help@afyasol.com.</p>
<p><strong>What personal information do we process?</strong> When you visit, use, or navigate our Services, we may process personal information depending on how you interact with AFYASOL COMPANY LIMITED and the Services, the choices you make, and the products and features you use.</p>
<p>&nbsp;</p>
<p><strong>Do we process any sensitive personal information?</strong>&nbsp;We do not process sensitive personal information.</p>
<p>&nbsp;</p>
<p><strong>Do we receive any information from third parties?</strong>&nbsp;We do not receive any information from third parties.</p>
<p>&nbsp;</p>
<p><strong>How do we process your information?</strong> We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent. We process your information only when we have a valid legal reason to do so.</p>
<p>&nbsp;</p>
<p><strong>In what situations and with which&nbsp;parties do we share personal information?</strong> We may share information in specific situations required by the law.</p>
<p>&nbsp;</p>
<p><strong>How do we keep your information safe?</strong> We have organisational and technical processes and procedures in place to protect your personal information. However, no electronic transmission over the internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorised third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information.</p>
<p>&nbsp;</p>
<p><strong>What are your rights?</strong> Depending on where you are located geographically, the applicable privacy law may mean you have certain rights regarding your personal information.</p>
<p>&nbsp;</p>
<p><strong>How do you exercise your rights?</strong> The easiest way to exercise your rights is by filling out our data subject request form available, or by contacting us. We will consider and act upon any request in accordance with applicable data protection laws.</p>
<p>&nbsp;</p>
<ol>
<li><strong> WHAT INFORMATION DO WE COLLECT?</strong></li>
</ol>
<p>&nbsp;</p>
<p><strong>Personal information you disclose to us</strong></p>
<p>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><em>We collect personal information that you provide to us.</em></p>
<p>&nbsp;</p>
<p>We collect personal information that you voluntarily provide to us when you&nbsp;register on the Services,&nbsp;express an interest in obtaining information about us or our products and Services, when you participate in activities on the Services, or otherwise when you contact us.</p>
<p>&nbsp;</p>
<p><strong>Personal Information Provided by You.</strong>&nbsp;The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make, and the products and features you use. The personal information we collect may include the following:</p>
<ul>
<li>names</li>
</ul>
<ul>
<li>phone numbers</li>
</ul>
<ul>
<li>email addresses</li>
</ul>
<ul>
<li>usernames</li>
</ul>
<ul>
<li>passwords</li>
</ul>
<ul>
<li>contact or authentication data</li>
</ul>
<p><strong>Sensitive Information.</strong>&nbsp;We do not process sensitive information.</p>
<p>&nbsp;</p>
<p><strong>Application Data.</strong>&nbsp;If you use our application(s), we also may collect the following information if you choose to provide us with access or permission:</p>
<ul>
<li><em>Geolocation Information.</em>&nbsp;We may request access or permission to track location-based information from your mobile device, either continuously or while you are using our mobile application(s), to provide certain location-based services. If you wish to change our access or permissions, you may do so in your device's settings.</li>
</ul>
<p>This information is primarily needed to maintain the security and operation of our application(s), for troubleshooting, and for our internal analytics and reporting purposes.</p>
<p>&nbsp;</p>
<p>All personal information that you provide to us must be true, complete, and accurate, and you must notify us of any changes to such personal information.</p>
<p>&nbsp;</p>
<ol start="2">
<li><strong> HOW DO WE PROCESS YOUR INFORMATION?</strong></li>
</ol>
<p>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><em>We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent.</em></p>
<p>&nbsp;</p>
<p><strong>We process your personal information for a variety of reasons, depending on how you interact with our Services, including:</strong></p>
<ul>
<li><strong>To facilitate account creation and authentication and otherwise manage user accounts.&nbsp;</strong>We may process your information so you can create and log in to your account, as well as keep your account in working order.</li>
<li><strong>To&nbsp;fulfil&nbsp;and manage your orders.&nbsp;</strong>We may process your information to&nbsp;fulfil&nbsp;and manage your orders, payments, returns, and exchanges made through the Services.</li>
</ul>
<p>&nbsp;</p>
<ol start="3">
<li><strong> WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</strong></li>
</ol>
<p><strong><em>In Short:</em></strong><em>&nbsp;We may share information in specific situations described in this section and/or with the following&nbsp;third parties.</em></p>
<p>We&nbsp;may need to share your personal information in the following situations:</p>
<ul>
<li><strong>Business Transfers.</strong>&nbsp;We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</li>
</ul>
<ul>
<li><strong>When we use Google Maps Platform APIs.</strong> We may share your information with certain Google Maps Platform APIs (e.g. Google Maps API, Places API). To find out more about Google&rsquo;s Privacy Policy.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;4.<strong>DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</strong></p>
<p><strong><em>In Short:</em></strong><em>&nbsp;We may use cookies and other tracking technologies to collect and store your information.</em></p>
<p>We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Notice.</p>
<p>5.<strong> HOW LONG DO WE KEEP YOUR INFORMATION?</strong></p>
<p><strong><em>In Short:&nbsp;</em></strong><em>We keep your information for as long as necessary to&nbsp;fulfil&nbsp;the purposes outlined in this privacy notice unless otherwise required by law.</em></p>
<p>We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting, or other legal requirements).&nbsp;No purpose in this notice will require us keeping your personal information for longer than&nbsp;the period of time in which users have an account with us.</p>
<p>&nbsp;</p>
<p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymise such information, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>
<p>6. <strong>HOW DO WE KEEP YOUR INFORMATION SAFE?</strong></p>
<p>&nbsp;</p>
<p><strong><em>In Short:&nbsp;</em></strong><em>We aim to protect your personal information through a system of&nbsp;organisational&nbsp;and technical security measures.</em></p>
<p>&nbsp;</p>
<p>We have implemented appropriate and reasonable technical and&nbsp;organisational&nbsp;security measures designed to protect the security of any personal information we process. However, despite our safeguards and efforts to secure your information, no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other&nbsp;unauthorised&nbsp;third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information. Although we will do our best to protect your personal information, transmission of personal information to and from our Services is at your own risk. You should only access the Services within a secure environment.</p>
<p>&nbsp;</p>
<ol start="7">
<li><strong> WHAT ARE YOUR PRIVACY RIGHTS?</strong></li>
</ol>
<p>&nbsp;</p>
<p><strong><em>In Short:</em></strong><em>&nbsp;&nbsp;You may review, change, or terminate your account at any time.</em></p>
<p>&nbsp;</p>
<p><strong><u>Withdrawing your consent:</u></strong>&nbsp;If we are relying on your consent to process your personal information,&nbsp;which may be express and/or implied consent depending on the applicable law,&nbsp;you have the right to withdraw your consent at any time. You can withdraw your consent at any time by contacting us by using the contact details provided in the section&nbsp;'<a href="https://app.termly.io/dashboard/website/02bf399d-3c95-46ed-bbb3-cd958ed1a651/privacy-policy#contact">HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</a>'&nbsp;below.</p>
<p>&nbsp;</p>
<p>However, please note that this will not affect the lawfulness of the processing before its withdrawal nor,&nbsp;when applicable law allows,&nbsp;will it affect the processing of your personal information conducted in reliance on lawful processing grounds other than consent.</p>
<p>&nbsp;</p>
<p><strong>Account Information</strong></p>
<p>&nbsp;</p>
<p>If you would at any time like to review or change the information in your account or terminate your account, you can:</p>
<ul>
<li>Log in to your account settings and update your user account.</li>
</ul>
<p>Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our legal terms and/or comply with applicable legal requirements.</p>
<p>&nbsp;</p>
<p>If you have questions or comments about your privacy rights, you may email us at&nbsp;<a href="/cdn-cgi/l/email-protection#e18a88948d808c9492848d9880a1868c80888dcf828e8c"><span class="__cf_email__" data-cfemail="#">help@afyasol.com</span></a>.</p>
<p>&nbsp;</p>

<p>8.<strong> CONTROLS FOR DO-NOT-TRACK FEATURES</strong></p>
<p>Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ('DNT') feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. At this stage no uniform technology standard for recognising and implementing DNT signals has been finalised. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy notice.</p>
<p>&nbsp;</p>
<p>9.<strong> DO WE MAKE UPDATES TO THIS NOTICE?</strong></p>
<p><strong><em>In Short:&nbsp;</em></strong><em>Yes, we will update this notice as necessary to stay compliant with relevant laws.</em></p>
<p>We may update this privacy notice from time to time. The updated version will be indicated by an updated&nbsp;'Revised'&nbsp;date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.</p>
<p>10<strong>.HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</strong></p>
<p>If you have questions or comments about this notice, you may email us at <a href="#">help@afyasol.com</span></a> or by post to:</p>
<p>&nbsp;</p>
<p>AFYASOL COMPANY LIMITED</p>
<p>(SAYANSI)COSTECH BUILDING</p>
<p>DAR ES SALAAM,&nbsp;DAR ES SALAAM</p>
<p>Tanzania</p>
<p>&nbsp;</p>
<p>11.<strong>HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</strong></p>
<p>&nbsp;</p>
<p>You have the right to request access to the personal information we collect from you, change that information, or delete it. To request to review, update, or delete your personal information, please submit a request form.</p>                        </div>
            
        </div>
        </div>
        </div>
    

</section>